body {
  background-color: #242424;
  color: white;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
.header {
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: default;
}
.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  cursor: default;
}
.button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.23s;
}
.button:hover {
  background-color: #484848;
}
