html {
	width: flex;
	position: relative;
	--Text-Color:white;
	--Text-Font:monospace;
  
	--Invalid-Color:#FFFB33;
	--Granted-Color:#03DAC6;
	  
	--Primary-Color-Dark:#242424;
	--Primary-Color-Light:#484848;
	--Primary-Color:#ADFF2F;
	
	--Secondary-Color-Dark:#0A00B6;
	--Secondary-Color-Light:#9D46FF;
	--Secondary-Color:#6200EA;
}
body {
	background-color:var(--Primary-Color-Dark);
  color: var(--Text-Color);
  font-family: var(--Text-Font);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: inherit;
  margin: 0;
  padding-top: 60px;
}
.navbar {
  background-color: var(--Primary-Color-Dark);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.navbar button {
  background-color: var(--Primary-Color-Dark);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  font-size: large;
  transition: background-color 0.23s;
  margin: 5px;
}
.navbar button:hover {
  background-color: var(--Primary-Color-Light);
}
.container {
  text-align: center;
}
.header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.email:hover {
  color: var(--Primary-Color);
  cursor: pointer;
}
footer {
  font-family: monospace;
  background-color:var(--Primary-Color-Light);
  display:block; margin:0; text-align:center;
  width: 100%;
  cursor: default;
}
.code-block {
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
}
/* button {
  background-color: #00ff00;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 5px;
}
button:hover {
  background-color: #00cc00;
} */
